absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
accelerate==1.4.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiohttp_socks==0.10.1
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alembic==1.13.1
altair==5.5.0
annotated-types==0.7.0
antspynet==0.2.8
antspyx==0.5.3
anyio==4.9.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-generator==1.10
async-lru==2.0.4
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel==2.14.0
backoff==2.2.1
basicsr==1.4.2
bcrypt==4.3.0
beautifulsoup4==4.12.3
bitsandbytes==0.45.3
bleach==6.1.0
blessed==1.20.0
blinker==1.9.0
blis==1.0.1
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
bottle==0.13.2
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
browser-cookie3==0.20.1
build==1.2.2.post1
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1708987703938/work
cairocffi==1.7.1
CairoSVG==2.7.1
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
certipy==0.1.3
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib==0.7.6
chromadb==1.0.4
click==8.1.8
cloudpathlib==0.20.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
comm==0.2.2
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1711445853354/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
confection==0.1.5
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1708780263085/work
cssselect2==0.8.0
ctransformers==0.2.27
curl_cffi==0.10.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.8
dataclasses-json==0.6.7
datasets==3.3.2
debugpy==1.8.1
decorator==5.1.1
deep-translator==1.11.4
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
diskcache==5.6.3
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docker-pycreds==0.4.0
duckduckgo_search==7.5.5
durationpy==0.9
EbookLib==0.18
einops==0.8.0
et_xmlfile==2.0.0
exceptiongroup==1.2.0
executing==2.0.1
facexlib==0.3.0
faiss-cpu==1.10.0
fastapi==0.115.9
fastjsonschema==2.19.1
filelock==3.9.0
filetype==1.2.0
filterpy==1.4.5
Flask==3.1.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1711466727397/work
fonttools==4.25.0
fqdn==1.5.1
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645481127/work
fsspec==2024.10.0
future==1.0.0
g4f==0.5.0.1
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1688368721366/work
gfpgan==1.3.8
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1708069240306/work
google-ai-generativelanguage==0.6.15
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1711011113292/work
google-auth-httplib2==0.2.0
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1702414855226/work
google-genai==1.8.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googletrans==4.0.0rc1
gpt4all==2.8.2
gpustat==1.1.1
grad-cam==1.5.4
greenlet==3.0.3
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h2==3.2.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1702471429234/work
hpack==3.0.0
hstspreload==2024.11.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
humanize==4.11.0
hyperframe==5.2.0
idna==3.7
imageio==2.35.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources==6.5.2
ipykernel==6.29.4
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.5.0
jaxlib==0.5.0
jedi==0.19.1
jeepney==0.9.0
Jinja2==3.1.3
jiter==0.8.2
joblib @ file:///croot/joblib_1685113087166/work
json5==0.9.24
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397238043/work
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter-resource-usage==1.0.2
jupyter-telemetry==0.1.0
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterhub==4.1.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
kaggle==1.6.17
kagglehub==0.3.5
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1700038168849/work/keras-2.15.0-py3-none-any.whl#sha256=2dcc6d2e30cf9c951064b63c1f4c404b966c59caf09e01f3549138ec8ee0dd1f
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
kubernetes==32.0.1
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.35
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langcodes==3.4.1
langsmith==0.1.147
language_data==1.2.0
lazy_loader==0.4
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/libmambapy
lightning-utilities==0.11.8
llama_cpp_python==0.3.7
llvmlite==0.44.0
lmdb==1.6.2
lxml==5.3.0
lz4==4.4.3
Mako==1.3.2
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/mamba
marisa-trie==1.2.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899921127/work
marshmallow==3.26.1
matplotlib @ file:///croot/matplotlib-suite_1698692105134/work
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.20
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1705068285533/work
mistune==3.0.2
ml_dtypes==0.5.1
mmh3==5.1.0
monotonic==1.6
mpmath==1.3.0
mss==10.0.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040698785/work
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.30.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nbgitpuller==1.2.0
nest-asyncio==1.6.0
networkx==3.2.1
nibabel==5.2.1
nilearn==0.10.4
nltk==3.9.1
nodriver==0.43
notebook==7.1.2
notebook_shim==0.2.4
numba==0.61.0
numexpr @ file:///croot/numexpr_1696515281613/work
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.560.30
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.4.127
oauth2client==4.1.3
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
odfpy==1.4.1
onnx==1.17.0
onnxruntime==1.20.1
onnxruntime-gpu==1.20.1
openai==1.61.1
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.32.0
opentelemetry-exporter-otlp-proto-common==1.32.0
opentelemetry-exporter-otlp-proto-grpc==1.32.0
opentelemetry-instrumentation==0.53b0
opentelemetry-instrumentation-asgi==0.53b0
opentelemetry-instrumentation-fastapi==0.53b0
opentelemetry-proto==1.32.0
opentelemetry-sdk==1.32.0
opentelemetry-semantic-conventions==0.53b0
opentelemetry-util-http==0.53b0
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1696448916724/work
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pamela==1.1.0
pandas @ file:///croot/pandas_1697477158611/work/dist/pandas-2.1.1-cp310-cp310-linux_x86_64.whl#sha256=9030ae12668e518e702e668fa89f07f2847a175cdd526f95e39cb603d11ed9b8
pandocfilters==1.5.1
parso==0.8.3
pathtools==0.1.2
patsy==0.5.6
peft==0.14.0
pexpect==4.9.0
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1706116770704/work
ply==3.11
plyer==2.1.0
posthog==3.24.1
preshed==3.0.9
primp==0.14.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache==0.3.1
proto-plus==1.24.0
protobuf==5.29.4
proxy_tools==0.1.0
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722392846/work
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1701287008248/work
pyasn1-modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1695107857548/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758174/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome==3.22.0
pycryptodomex==3.22.0
pydantic==2.9.2
pydantic-settings==2.7.1
pydantic_core==2.23.4
pydeck==0.9.1
PyDrive==1.3.1
Pygments==2.17.2
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1706895065046/work
PyMuPDF==1.25.5
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pypdf==5.3.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-crfsuite==0.9.11
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-slugify==8.0.4
python-socks==2.7.1
pytorch-lightning==2.4.0
pytz @ file:///croot/pytz_1695131579487/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
pyvi==0.1.1
pywebview==5.4
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
pyzmq==25.1.2
realesrgan==0.3.0
referencing==0.34.0
regex==2024.9.11
requests==2.32.3
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.3
roboflow==1.1.45
rpds-py==0.18.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298115475/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314473442/work
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn @ file:///croot/scikit-learn_1690978916802/work
scipy @ file:///croot/scipy_1696543286448/work/dist/scipy-1.11.3-cp310-cp310-linux_x86_64.whl#sha256=f3f9770e4b7f570998798418be298ff7c652ffb4b05057597988c201dfa1e951
seaborn @ file:///croot/seaborn_1673479180098/work
selenium==4.29.0
Send2Trash==1.8.2
sentence-transformers==4.0.2
sentencepiece==0.2.0
sentry-sdk==2.18.0
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1696431166166/work
shellingham==1.5.4
SimpleITK==2.4.0
sip @ file:///croot/sip_1698675935381/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn-crfsuite==0.5.0
smart-open==7.0.5
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.5
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.29
srsly==2.4.8
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.14.3
streamlit==1.43.2
sympy==1.13.1
tabulate==0.9.0
tb-nightly==2.20.0a20250224
tenacity==8.5.0
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1707486779203/work/tensorboard-2.15.2-py3-none-any.whl#sha256=a6f6443728064d962caea6d34653e220e34ef8df764cb06a8212c17e1a8f0622
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1695425366946/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=aa1f69b2111bb4309cc6277ac277c89a9f67d074aa666b96eebe7401a359e1d5
tensorflow @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1706532345435/work/tensorflow_pkg/tensorflow-2.15.0-cp310-cp310-linux_x86_64.whl#sha256=39e79c7712cd0e15d6666845bdbe5e158ee2b59c5d8429f48f3ebcc0be27b21b
tensorflow_estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1706532345435/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=bf4cd6e837e7ddbe82b718b98b6d97d390af6d047fdcd70d4667e0ceeeee8e6d
tensorrt==10.8.0.43
tensorrt_cu12==10.8.0.43
tensorrt_cu12_bindings==10.8.0.43
tensorrt_cu12_libs==10.8.0.43
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
terminado==0.18.1
text-unidecode==1.3
textblob==0.18.0.post0
thinc==8.3.2
thop==0.1.1.post2209072238
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2024.9.20
tiktoken==0.9.0
timm==1.0.15
tinycss2==1.2.1
tokenizers==0.20.1
toml==0.10.2
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
torch==2.2.2+cu118
torchaudio==2.2.2+cu118
torchio==0.20.1
torchmetrics==1.5.0
torchvision==0.17.2+cu118
tornado @ file:///croot/tornado_1696936946304/work
tqdm==4.66.5
traitlets==5.14.2
transformers==4.46.1
trio==0.29.0
trio-websocket==0.12.2
triton==2.2.0
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
ttach==0.0.3
typer==0.12.5
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata @ file:///croot/python-tzdata_1690578112552/work
ultralytics==8.2.100
ultralytics-thop==2.0.8
underthesea==6.8.4
underthesea_core==1.0.4
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
uvicorn==0.34.0
uvloop==0.21.0
wandb==0.18.6
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
weasel==0.4.1
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
whisper==1.1.10
widgetsnbextension==4.0.10
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1666806031361/work
wsproto==1.2.0
xxhash==3.5.0
yapf==0.43.0
yarl==1.18.3
youtube-transcript-api==0.6.3
yt-dlp==2025.2.19
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.23.0
